@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ================== 隐藏全局滚动条 ================== */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}